<h1> Bienvenido a MINIUPLOAD </h1>

<p>Hola esto es un parrafo y somos el equipo 1 wuuuu!! </p>

<h3> este es un sitio creado por que ta chido :D </h3>

<a href="https://www.google.com"> no tenemos buscador pero as click aqui ;)</a><br>
  
<iframe src="http://www.fing.uach.mx" width="1000" height="650"></iframe>