<h1> Bienvenido a MINIUPLOAD </h1>

<h2>quieres subir un archivo? click aqui-----></h2> <a href="http://miniupload.herokuapp.com/uploads">Aqui :D</a>

<p>Hola esto es un parrafo y somos el equipo 1 wuuuu!! </p>

<h3> este es un sitio creado por que ta chido :D </h3>

<a href="https://www.google.com"> no tenemos buscador pero as click aqui ;)</a><br>
  
<iframe src="http://www.fing.uach.mx" width="1200" height="800"></iframe>